body {
  font-family: Courier New;
  font-weight: 500;
  background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148817571.jpg');
  background-size: cover;
  text-align: center;
}
